body {
  background: url('/src/img/MobileCasino.jpg') no-repeat center center fixed
    #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  overflow-y: auto;
}

.toast {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #262626;
}
.ml-10 {
  margin-left: 10px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.pull-left {
  float: left;
}
.both {
  clear: both;
}
.p-10 {
  padding: 10px;
}
.mt-30 {
  margin-top: 30px !important;
}
.MuiInput-underline.green:before,
.MuiInput-underline.green:after {
  border-bottom-color: green !important;
}
.green.MuiFormHelperText-root,
.MuiFormLabel-root.green {
  color: green !important;
}

.flex-center div {
  display: flex;
  justify-content: start;
  .MuiCircularProgress-root {
    width: 36px;
    height: 36px;
    margin-top: 8px;
    margin-left: 10px;
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.white {
  color: #fff;
}
.center {
  text-align: center;
}

.bold {
  font-weight: 900;
}

.sing-up {
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.64);
}
.subtitle {
  font-size: 13px;
  font-weight: 500;
}
